.row.restaurant-tile {
  background: #FFFEF5;
  margin-bottom: 2rem;
  margin-left: auto;
  max-width: 520px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 3px 3px 3px #E5E5D8;

}

.index-page-nav-bar-buffer {
  height: 5rem;
}

.restaurant-tile {
  font-family: 'Arsenal';
}

.index-page.restaurant-name {
  color: black;
  font-size: 1.5rem;
}

.index-page.restaurant-name:hover {
  text-decoration: underline;
}

.error.row.restaurant-tile {
  text-align: center;
}
