.search-section-landing-page {
  background-image: url(https://imgur.com/a/iYxjU);
  background-attachment: fixed;
  background-size: cover;
}

.search-section-top-spacer {
  height: 10rem;
}

.address-search-bar {
  position: sticky;
  max-width: 520px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button.address-search-bar {
  float: right;
  margin-right: 0;
  margin-top: -3.65rem;
  position: relative;
  background: #FF8544;
  box-shadow: 0px 2px #9D542E;
  font-family: 'Arsenal';
}

.button.address-search-bar:hover {
  background: #CE6F3D;
}

.button.address-search-bar:active {
  background: #CE6F3D;
  box-shadow: none;
  top: 3px;
}

.address-search-bar-label {
  color: #FFFFFF;
  margin-bottom: 0rem;
  text-shadow: 1px 1px #000000;
  font-family: 'Arsenal';
}

.search-section-bottom-spacer {
  height: 15rem;
}

.huge-emoji {
  font-size: 10rem;
  text-align: center;
}

.explanation-landing-page {
  padding: 3rem;
  font-family: 'Arsenal'
}
