.show-page.menu-section {
  background: #FFFEF5;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 3px 3px 3px #E5E5D8;
}
.show-page.restaurant-section {
  background: #FFFEF5;
  margin: 1rem;
  margin-right: 0;
  padding: 1rem;
  box-shadow: 3px 3px 3px #E5E5D8;
}

.restaurant-info {
  font-family: 'Arsenal';
}

.show-page.reviews-section {
  background: #FFFEF5;
  margin: 1rem;
  margin-right: 0;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 3px 3px 3px #E5E5D8;
}

.submenu-tile {
  background: #FFFEF5;
  padding-left: 1.5rem;
  margin-bottom: 0.3rem;
  font-family: 'Arsenal';
}

.submenu-button.button {
  background: #FFD597;
  color: black;
  box-shadow: 2px 2px 2px #B2B2A3;
  position: relative;
  padding: 0.5rem;
  float: right;
}

.submenu-button.button:hover {
  background: #FDFBE1;
  text-decoration: underline;
}

.submenu-button.button:active {
  background: #FFFEF5;
  top: 2px;
  left: 2px;
  box-shadow: inset 2px 2px 2px #B2B2A3;
}

.show-page-nav-bar-buffer {
  height: 3rem;
}

.show-page-header {
  text-align: center;
  font-family: 'Arsenal';
}

.show-page-warning-text {
  font-family: 'Arsenal';
  color: #FF6B6B;
}

.submenu-title {
  font-family: 'Arsenal';
  font-size: 1.3rem;
}
.submenu-title:hover {
  text-decoration: underline;
}

.submenu-title.active {
  font-style: italic;
}

.new-review-modal {
}

.firm-rating {
  font-size: 1.7rem;
}

.rating {
  font-size: 1.7rem;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


.rating-submitted {
  font-size: 1.7rem;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}


.new-review-close-button {
  margin-left: 14rem;
}

.button.checkout-page.new-review {
  margin-left: 5rem;
}
.button.checkout-page.add-more {
}
.button.checkout-page.to-checkout {
  margin-left: 4rem;
}
